@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @media (min-width:768px){
        .nav-hamburger{
            display:none;
        }
    }
    @media (min-width:768px){
        .nav-menu-item{
            background: none !important   ;
        }
    }
    @media (max-width:768px){
        .nav-buttons{
            display: none !important;
        }
    }
}