@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html{
        overflow-x: hidden;
    }
    body{
        width: 100vw;
        overflow-x:hidden;
    }
    @media (min-width:768px){
        .nav-hamburger{
            display:none;
        }
    }
    @media (min-width:768px){
        .nav-menu-item{
            background: none !important   ;
        }
    }
    @media (max-width:768px){
        .nav-buttons{
            display: none !important;
        }
    }
    .feature,.carousel,.newsletter{
        width: calc(100% + 85px);
        position: relative;
        top:0px;
        left:50%;
        transform: translateX(-50%);
    }
    .carousel::-webkit-scrollbar{
        display: none;        
    }
}